.order-status-badge {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  padding-inline: 10px;
  height: 1.8rem;
  font-size: 10px;
  //   padding-inline: 5px;
}
.custom-badge {
  max-width: fit-content;
  border-radius: 15px;
  float: right;
  font-weight: 600;
  padding-inline: 16px;
  padding-block: 5px;
}
.custom-badge-info {
  color: rgb(72, 57, 240);
  background-color: rgba(72, 57, 240, 0.089);
}
.custom-badge-warning {
  background-color: rgb(159, 159, 159);
}
.custom-badge-error {
  background-color: rgb(159, 159, 159);
}
.custom-badge-success {
  background-color: rgb(159, 159, 159);
}
.active-badge {
  border: 2px solid green;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgba(0, 128, 0, 0.184);
  cursor: pointer;
}
.inactive-badge {
  border: 2px solid red;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgba(239, 14, 14, 0.184);
  cursor: pointer;
}
