:root {
  --primary-color: #09433a;
  --border-color: rgb(224, 224, 224);
}
// --> Start of stats
.stat-card {
  background-color: var(--primary-color);
  min-height: 6rem;
  border-radius: 11px;
  box-shadow: 0px 0px 11px 8px rgba(215, 215, 215, 0.526);
  display: flex;
  align-items: center;

  color: #f5f5f5;
  h3 {
    color: #fff;
  }
}
// <<--  End of stats
// Recent Order
.recent-order-main {
  // box-shadow: 0px 0px 12px 8px #d6d6d689;
  border: 1px solid var(--border-color);
  height: 20rem;
  border-radius: 5px;
  overflow-y: scroll;
  h5 {
    font-size: 19;
    font-weight: 400;
    color: #400835;
  }
}
.recent-item-card {
  border: 1px rgb(217, 217, 217) solid;
  margin-bottom: 10px;
}
.recent-item-card span {
  font-size: small;
}
.sales-chart {
  // box-shadow: 0px 0px 8px 3px #e2e2e27a;
  border: 0.3px solid rgb(197, 197, 197);
  border-radius: 10px;
}
.top-selling-product-card {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
  }
  h6 {
    font-size: 14px;
    font-weight: normal;
  }
  h5 {
    font-size: 16px;
    float: right;
    font-weight: bolder;
  }
}
@media (max-width: 370px) {
  .stat-card {
    flex: 5.5;
  }
}
@media (max-width: 808px) {
  .stat-card {
    flex: 2.5;
  }
}
