.datepicker-box {
  font-size: 13px;
  height: 43px;
  font-weight: 500;
  color: #555555;
  padding-left: 10px;
  padding: 12px;
  margin: 0.3rem;
  min-width: 14rem;
  max-width: max-content;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 3px;
  animation: growDown 999ms ease-in-out forwards;
  cursor: pointer;
  transform-origin: top center;
  z-index: 7;
  position: relative;
  user-select: none;
  display: inline-flex;
}
.datepicker-box p {
  color: #555555;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.datepicker-content {
  position: absolute;
  //   max-width: 190px;
  background-color: #ffffff;
  left: 0;
  //   min-width: 100%;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(170, 170, 170, 0.2);
  padding: 12px 16px;
  z-index: 2;
  font-size: 13px;
  border-bottom-left-radius: 5px;
  animation: growDown 330ms ease-in-out forwards;
  transform-origin: top center;
  padding: 10px;
}
.datepicker-content p {
  cursor: pointer;
}
.hidden {
  display: none;
}
.datepicker-content-item {
  padding: 10px;
}
.datepicker-content-item:hover {
  background-color: var(--primary-color);
  color: white;
}
