.login-main-content {
  background-color: #f4f4f4;
  min-height: 87vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.login-box {
  background-color: white;
  padding-inline: 1rem;
  border: 1px solid#C1C1C1;
  border-radius: 5px;
  padding-block: 1rem;
  width: 460px;
  .top-logo-login {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
  }
}
.checkbox-login {
  width: 40px;
  display: flex;
}
.checkbox-login span {
  font-size: 10px;
  margin: 1rem;
}
